.resumoClasse{
      overflow: hidden;
}
#bárbaro{
      height: 0px;
      overflow:auto
}
#bardo{
      height: 0px;
      overflow:auto
}
#bruxo{
      height: 0px;
      overflow:auto
}
#clérigo{
      height: 0px;
      overflow:auto
}
#druida{
      height: 0px;
      overflow:auto
}
#feiticeiro{
      height: 0px;
      overflow:auto
}
#guerreiro{
      height: 0px;
      overflow:auto
}
#ladino{
      height: 0px;
      overflow:auto
}
#mago{
      height: 0px;
      overflow:auto
}
#monge{
      height: 0px;
      overflow:auto
}
#paladino{
      height: 0px;
      overflow:auto
}
#patrulheiro{
      height: 0px;
      overflow:auto
}